<template>
  <div class="devicesstatus">
    <h1>Device Status</h1>
    <Devices></Devices>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Devices from '@/components/Devices.vue';

@Component({
  components: {
    Devices,
  },
})
export default class DeviceStatus extends Vue {}
</script>

<style scoped>

</style>
