<template>
  <v-container>
    <v-data-table
      :headers="headers"
      :items="devices"
      :items-per-page="5"
      class="elevation-1"
    ></v-data-table>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import axios from 'axios';

export default Vue.extend({
  name: 'Devices',

  data: () => ({
    devices: [],
    headers: [
      {
        text: 'Id',
        align: 'start',
        sortable: false,
        value: 'id',
      },
      { text: 'Type', value: 'type' },
      { text: 'Status', value: 'status' },
      { text: 'Action', value: 'action' },
    ],
  }),
  mounted() {
    axios.get('/api/devices')
      .then((response) => {
        this.devices = response.data;
      });
  },
});
</script>

<style scoped>
</style>
